<div
  class="avatar"
  :style="bgSource"
  :class="{
    [`text-${text}`]: !!text,
    [`bg-${color}`]: !!color,
    [`avatar-round`]: !squared,
    [`avatar-${size}`]: !!size,
    [`avatar-rounded`]: squared,
  }"
>
  <span
    v-if="icon"
    :class="`avatar-icon-${size}`"
    v-html="$options.filters.icon(icon)"
  />
  <span v-if="initials">{{ name | initials }}</span>
  <span
    class="avatar-silhouette"
    v-if="!icon && !initials && !source"
    v-html="$options.filters.icon(`profile-${gender}`)"
  ></span>
</div>
