@function shadow($depth: md) {
  $fetched-value: map-get($shadows, $depth);

  @if type-of($fetched-value) == list {
    @return $fetched-value;
  } @else {
    @error 'Shadow variant `#{$depth}` not found. Available variants: #{available-names($shadows)}';
  }
}
