@import "@/components/nucleus/index.scss";

.a {
  & {
    color: color(primary);
  	text-decoration: none
  }

  &:hover {
    color: color(primary, lighter)
  }

  &:visited {
    color: inherit
  }
}
