// Variables and definitions
@import "@/components/nucleus/index.scss";

// Reset styles
@import "@/components/nucleus/reset/index.scss";

// Main definitions
html {
  margin: 0;
	border: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  color: color(black);
	font-size: spacing(md);
	vertical-align: baseline;
	font-family: font-family(sans)
}

body {
  margin: 0;
	border: 0;
	padding: 0;
  width: 100vw;
  height: 100vh;
	line-height: 1;
  color: color(black);
	font-size: spacing(md);
	vertical-align: baseline;
  font-family: font-family(sans);
  background-color: color(grey, lighter)
}

.bg {
  @include color-classes(background-color);
}

.text {
  @include color-classes(color);
  @include text-align-classes();
}

.border {
  & {
    @include color-classes(border-color);
  }
  &:focus {
    @include color-classes(border-color);
  }
}

.fill {
  @include color-classes(fill);

  &-primary {
    fill: #556080
  }

  &-secondary {
    fill: #E8EDEE
  }
}

.stroke {
  @include color-classes(stroke);

  &-primary {
    stroke: #556080
  }

  &-secondary {
    stroke: #E8EDEE
  }
}
